/* CSS for the card-like appearance */
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin:2rem;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
  width: 300px; /* You can adjust the width as needed */
}

/* Hover effect to increase box-shadow on mouse hover */ 
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.imga{
  object-fit: contain;
  height: 10rem;
  width:15rem;
}